:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}  

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}


.list {
    list-style: none;
}

/* Студия*/

.logo {
    color: var(--accent-color);
}

.logo span {
    color:var(--title-text-color);
}


.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}


.contacts .link {
    color: var(--primary-text-color);
}


.hero {
    background-color: #2F303A;
}

.hero .title {
    color:#FFFFFF
}

.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


.section-title {
    color:var(--title-text-color);
}

.list .title {
    color: var(--title-text-color)
}

.section.team {
    background-color: #F5F4FA;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6)
}

.footer {
    background-color: #2F303A;
}

.footer span {
    color: var(--primary-white-color)
}

.footer .adress {
    color: var(--primary-white-color)
}

/* Портфолио */

.filter .button.current {
        color: var(--primary-white-color);
        background-color: var(--accent-color)
}

.filter .button:hover,
.filter .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}