:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}  


body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.logo {
    color: var(--accent-color);
}

.logo span {
    color:var(--title-text-color);
}

/* site nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}

/* contacts */

.contacts .link {
    color: var(--primary-text-color);
}

/* hero */

.hero {
    background-color: #2F303A;
}

.hero .title {
    color:#FFFFFF
}

.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* section */

.section-title {
    color:var(--title-text-color);
}

/* rules */

.rules-list .title {
    color: var(--title-text-color)
}

.team-list .title {
    color: var(--title-text-color);
}




